<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ARt</name>
    <description>
        This application merges augmented reality with art. It's purpose is to provide a different median in which users
		can explore and experience art.
    </description>

	<author email="jessica.holod@uleth.ca">
        The Dream Team
    </author>
	<author email="kaylee.peake@uleth.ca">
        The Dream Team
    </author>
	<author email="shaizan.kurji@uleth.ca">
        The Dream Team
    </author>
	    <author email="t.rigaux@uleth.ca">
        The Dream Team
    </author>
		<author email="tristan.bernardo@uleth.ca">
        The Dream Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
