/*App CSS*/
*{
    box-sizing: border-box;
}

*{
    margin: 0;
}
.navbar-inner{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;  
    margin:auto;
    justify-items: center;
   
}

.navbar .right{
    padding-right: 17%;
<<<<<<< HEAD
}

#score_cards{
    display:flex;
    
}

.score_card{
    width:10px;
    height: 10px;
    background-color: #dddddd;
    margin: 2px;
    
}

.visited{
    background-color: #444444;
=======
>>>>>>> 780b73d751a6f370d8b3bf4a922698fd66d4c4f5
}