/*App CSS*/
*{
    box-sizing: border-box;
}

*{
    margin: 0;
}

img{
    max-width: 100%;
}

/*downloaded font in the font folder*/

@font-face {
   
    font-family: 'vibra_light';
    
    src: url('../fonts/VIBRA-thin.ttf');
}

.f7-icons{
    color: grey;
}

body{
    font-family: 'vibra_light';
    font-size: 2rem;
    color: #262626;
}

/*
.navbar-inner.title{
    font-size: 30px;
}
*/

/*
#title_main{
    font-size: 2.5rem;
}
*/



/* logo in the top left and its constraints*/
.left img{
    max-width: 40px;
    height: auto;
    align-content: center;
    padding-bottom: 10px;
}

.navbar-inner{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;  
    margin:auto;
    justify-items: center;
    padding: 10px;
   
}

.navbar .right{
    padding-right: 17%;
}

#score_cards{
    display:flex;
    
}

.score_card{
    width:10px;
    height: 10px;
    background-color: #dddddd;
    margin: 2px;
    
}

.visited{
    background-color: #444444;
}